body {
  background: linear-gradient(146deg, rgb(170, 244, 248) 0%, rgb(34, 144, 143) 86%);
}

p,
h1 {
  text-align: center;
}

div a {
  margin: 0 10px;
  color: purple;
}

#footer {
  text-align: center;
}

.croissant-picture {
  max-width: 100%;
  margin: 30px auto;
  border-radius: 10px;
  text-align: center;
}